In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("Sample-Superstore-Subset-Excel.xlsx")
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [3]:
#Q1 : 1. Find the total sales value for 2010 orders shipped with "Low" priority

In [5]:
#Q2 : 2. Which product has the highest total sales?

In [4]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [5]:
df.groupby("Sales")[["Product Name"]].describe().tail(3)

          Product Name         \
                 count unique
Sales
48418.58             1      1
50332.66             1      1
100119.16            1      1


                                                         top freq
Sales
48418.58                       Canon PC1080F Personal Copier    1
50332.66               Canon imageCLASS 2200 Advanced Copier    1
100119.16  Riverside Palais Royal Lawyers Bookcase, Royal...    1

                                                   Unit Price          \
                                                        count    mean
Product Name
"While you Were Out" Message Book, One Form per...        6.0    3.71
#10 Self-Seal White Envelopes                             5.0   11.09
#10 White Business Envelopes,4 1/8 x 9 1/2               14.0   15.67
#10- 4 1/8" x 9 1/2" Recycled Envelopes                  18.0    8.74
#10- 4 1/8" x 9 1/2" Security-Tint Envelopes              9.0    7.64
...                                                       ...     ...
i500plus                                                  2.0   65.99
i600                                                      3.0  125.99
iDEN i550                                                 2.0  205.99
iDEN i95                                                  4.0   65.99
iDENi80s                                                  5.0   65.99

                                                                          \
                                                             std     min
Product Name
"While you Were Out" Message Book, One Form per...  4.864754e-16    3.71
#10 Self-Seal White Envelopes                       0.000000e+00   11.09
#10 White Business Envelopes,4 1/8 x 9 1/2          3.686825e-15   15.67
#10- 4 1/8" x 9 1/2" Recycled Envelopes             0.000000e+00    8.74
#10- 4 1/8" x 9 1/2" Security-Tint Envelopes        9.420555e-16    7.64
...                                                          ...     ...
i500plus                                            0.000000e+00   65.99
i600                                                0.000000e+00  125.99
iDEN i550                                           0.000000e+00  205.99
iDEN i95                                            0.000000e+00   65.99
iDENi80s                                            0.000000e+00   65.99

                                                                            \
                                                       25%     50%     75%
Product Name
"While you Were Out" Message Book, One Form per...    3.71    3.71    3.71
#10 Self-Seal White Envelopes                        11.09   11.09   11.09
#10 White Business Envelopes,4 1/8 x 9 1/2           15.67   15.67   15.67
#10- 4 1/8" x 9 1/2" Recycled Envelopes               8.74    8.74    8.74
#10- 4 1/8" x 9 1/2" Security-Tint Envelopes          7.64    7.64    7.64
...                                                    ...     ...     ...
i500plus                                             65.99   65.99   65.99
i600                                                125.99  125.99  125.99
iDEN i550                                           205.99  205.99  205.99
iDEN i95                                             65.99   65.99   65.99
iDENi80s                                             65.99   65.99   65.99


                                                       max
Product Name
"While you Were Out" Message Book, One Form per...    3.71
#10 Self-Seal White Envelopes                        11.09
#10 White Business Envelopes,4 1/8 x 9 1/2           15.67
#10- 4 1/8" x 9 1/2" Recycled Envelopes               8.74
#10- 4 1/8" x 9 1/2" Security-Tint Envelopes          7.64
...                                                    ...
i500plus                                             65.99
i600                                                125.99
iDEN i550                                           205.99
iDEN i95                                             65.99
iDENi80s                                             65.99

[1263 rows x 8 columns]

SyntaxError: invalid syntax (<ipython-input-30-7fc1a05d72c1>, line 1)